__pycache__
.git
*.pyc
*.pyo
*.pyd
*.db
*.ipynb_checkpoints
data/
models/
scalers/
venv/
*.json
*.ipynb
*.xlsx
*.in
*.idea/
*.xml
*.log
*.zip
*.pdf
*.docx
example_input_data
logs
train_ac_temp_json
train_pt_json
*.sh
ng_energy_1.0
pycharm_tips.txt
test_debug.py

