__pycache__
.git
*.pyc
*.pyo
*.pyd
*.db
*.ipynb_checkpoints
data/
models/
scalers/
example_input_data
logs
venv/
train_ac_temp_json
*.json
*.ipynb
*.xlsx
*.in
*.log
*.zip
*.pdf
*.docx
train_pt_json
*.sh
ng_energy_1.0
pycharm_tips.txt
test_debug.py